{% extends "portfolio/base.html" %}


{% block portfolio_content %}
	<ul class="media-list">
		{% for series in all_series %}
		<li class="media">
			<a class="pull-left" href="{{series.get_absolute_url}}">
				<img class="media-object" src="{{series.first_thumbnail}}">
			</a>
			<div class="media-body">
				<h3 class="media-heading">{{series.name}}
					<small>in {{series.category.name}}</small></h3>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}