{% extends "portfolio/base.html" %}

{% block content_title %}
    <h2><a href="{{feincms_page.get_absolute_url}}">{{feincms_page.page_title}}</a></h2>
    <h1>
        {{series.name}}
		<small>in {{series.category.name}}</small>
    </h1>
{% endblock %}

{% block portfolio_content %}

	<div class="row">
		<div class="span9">
			<ul class="unstyled">
			{% for media in series.media_set.all %}
				<li><img src="{{media.normal.file.url}}"><br><br></li>
			{% endfor %}
			</ul>
		</div>
		<div class="span3">
			{{series.description}}
			<dl>
				{% for credit in series.credit_set.all %}
					<dt>{{credit}}</dt>
						<dd>{{credit.value}}</dd>
				{% endfor %}
			</dl>
		</div>

	</div>

{% endblock %}